
.project-title{
    height: 40vh;
    display: flex;
  justify-content: center;
  align-items: center;
font-size: 60px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.project-container{
    padding: 4rem 0 2rem 0;
    
    background: rgb(255,253,249);
    background: linear-gradient(0deg, rgba(255,253,249,1) 30%, rgb(117, 212, 212) 100%);
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.project-lh {
    margin: 20px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.project-lh-h1 {
    color: #000;
    text-align: left;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.project-lh-list {
    margin-top: 20px;

    color: #000;
   max-width: 80%;
   text-align: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.project-rh {
    margin: 20px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.project-rh-h2 {
    color: #000;
    text-align: left;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-rh-text {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: center;
    color: #000;
   max-width: 80%;
   text-align: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media screen and (max-width: 560px) {

    .project-container{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
   
    }

    .project-lh {
        margin: 20px;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .project-rh {

        max-width: 80%;

    }
    .project-rh-h2 {
       
        text-align: center;
        
    }
    
    .project-rh-text {

margin: 10px auto;
       
       text-align: center;
        font-size: 18px;
        
    }

}