
.experience-container {
    background: rgb(255,253,249);
background: linear-gradient(0deg, rgba(255,253,249,1) 0%, rgba(74,180,180,1) 0%, rgba(0,0,0,1) 100%);
    
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.experience-container > h1 {
    color: #fff;
    font-size: 80px;
    text-align: center;

}

.experience-container > p {
    margin-top: 30px;
    display: flex;
    flex-direction: center;
    color: #fff;
   max-width: 60%;
    font-size: 26px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.experience-container > img{
    margin: 50px;
    width: 60%;
    max-height: 80vh;
    max-width: 80vh;
    filter: grayscale(70%);
    opacity: 0.9;
}

@media screen and (max-width: 960px) {
    .experience-container > h1 {
     
        font-size: 60px;
       
    
    }
    .experience-container > p{
       margin-left: 20px;
       margin-right: 20px;
        font-size: 20px;
        max-width: 80%;
        
        
    }

}

@media screen and (max-width: 500px) {
    .experience-container > h1 {
     
        font-size: 50px;
       
    
    }
    .experience-container > p{
       margin-left: 20px;
       margin-right: 20px;
        font-size: 16px;
        max-width: 80%;
        
    }

}